<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DatasourceLookup</servlet-name>
        <servlet-class>com.mdw.db.DatasourceLookup</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--==============================jsp=================================-->
    <servlet>
        <servlet-name>db</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>db</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lg</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>lg</servlet-name>
        <url-pattern>/lg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>usr</servlet-name>
        <jsp-file>/user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usr</servlet-name>
        <url-pattern>/usr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fhi</servlet-name>
        <jsp-file>/fee_history.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fhi</servlet-name>
        <url-pattern>/fhi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>con</servlet-name>
        <jsp-file>/connection.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>con</servlet-name>
        <url-pattern>/con</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pro</servlet-name>
        <jsp-file>/product.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>pro</servlet-name>
        <url-pattern>/pro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pdl</servlet-name>
        <jsp-file>/product_load.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>pdl</servlet-name>
        <url-pattern>/pdl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rpt</servlet-name>
        <jsp-file>/report.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rpt</servlet-name>
        <url-pattern>/rpt</url-pattern>
    </servlet-mapping>
    <!--=============================servlet==============================-->
    <servlet>
        <servlet-name>lgs</servlet-name>
        <servlet-class>com.mdw.process.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lgs</servlet-name>
        <url-pattern>/lgs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lgos</servlet-name>
        <servlet-class>com.mdw.process.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lgos</servlet-name>
        <url-pattern>/lgos</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>rpts</servlet-name>
        <servlet-class>com.mdw.process.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rpts</servlet-name>
        <url-pattern>/rpts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uss</servlet-name>
        <servlet-class>com.mdw.process.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uss</servlet-name>
        <url-pattern>/uss</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cos</servlet-name>
        <servlet-class>com.mdw.process.ConnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cos</servlet-name>
        <url-pattern>/cos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pic</servlet-name>
        <servlet-class>com.mdw.process.PicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pic</servlet-name>
        <url-pattern>/pic</url-pattern>
    </servlet-mapping> 
</web-app>
